# 原链接 : https://raw.githubusercontent.com/ddgksf2013/Modules/main/123pan.webEnhance.sgmodule
#!name=123Pan Web Enhance
#!desc=123盘网页去广告+解除网页端流量1G下载限制
#!author=𝐝𝐝𝐠𝐤𝐬𝐟𝟐𝟎𝟏𝟑[https://github.com/Moli-X/Tool/blob/X/Loon/Readme.md]
#!tips=请单文件下载，不要文件夹或多文件下载
#!tgchannel=https://t.me/ddgksf2021
#!moduleUrl=https://github.com/ddgksf2013/Modules/raw/main/123pan.webEnhance.sgmodule
#!howtouse=小火箭、Surge用户直接添加模块，QuantumultX用户添加重写时打开解析器

[Script]
# ～ 123pan@ddgksf2013
123pan.Ads = type=http-response, pattern=^https?:\/\/www\.123pan\.com\/s\/[0-9a-zA-Z=_/-]+\.html, script-path=https://github.com/ddgksf2013/Scripts/raw/master/123pan.js, requires-body=true, max-size=-1, timeout=60
123pan.Enhance = type=http-request, pattern=^https?:\/\/www\.123pan\.com\/b\/api\/share\/download\/info, script-path=https://github.com/ddgksf2013/Scripts/raw/master/123pan.js, timeout=60

[MITM]
hostname = %APPEND% www.123pan.com
