#!name=123Pan Web Enhance
#!desc=123盘网页去广告+解除网页端流量1G下载限制
#!author=𝐝𝐝𝐠𝐤𝐬𝐟𝟐𝟎𝟏𝟑[https://github.com/Moli-X/Tool/blob/X/Loon/Readme.md]
#!tips=请单文件下载，不要文件夹或多文件下载
#!howtouse=小火箭、Surge用户直接添加模块，QuantumultX用户添加重写时打开解析器

[Script]
# ～ 123pan@ddgksf2013

[MITM]
hostname = %APPEND% www.123pan.com
