

# 𝐂𝐮𝐭𝐭𝐥𝐞𝐟𝐢𝐬𝐡 𝐒𝐞𝐥𝐟-𝐮𝐬𝐞 𝐑𝐞𝐰𝐫𝐢𝐭𝐞 𝐂𝐨𝐧𝐟𝐢𝐠𝐮𝐫𝐚𝐭𝐢𝐨𝐧 𝐂𝐡𝐚𝐧𝐠𝐞𝐥𝐨𝐠 𝐂𝐫𝐞𝐚𝐭𝐞𝐝 𝐛𝐲 𝐝𝐝𝐠𝐤𝐬𝐟𝟐𝟎𝟏𝟑





hostname = -broadcast.chat.bilibili.com, -cm.bilibili.com, -*cdn*.biliapi.net, -*tracker*.biliapi.net, app.bilibili.com, api.live.bilibili.com, *.bilibili.com, *.bili*.*, *.bilibili.*, grpc.biliapi.net,*biliapi.net


# ======= BiliJson 播放页处理 ======= #
# > BiliBili_哔哩哔哩_Version
^https?:\/\/bilibili.2025.04.02/c136 url reject-200
# > BiliBili_哔哩哔哩_屏蔽广告浮窗@ddgksf2013
^https?:\/\/api\.bilibili\.com\/pgc\/activity\/deliver\/material\/receive url reject-dict
# > BiliBili_哔哩哔哩_Material_Ad@ddgksf2013
^https?:\/\/api\.bilibili\.com\/x\/vip\/ads\/material\/report url reject-dict
# > BiliBili_哔哩哔哩_小卡片广告@ddgksf2013
# > BiliBili_哔哩哔哩_视频播放下方商品推广@ddgksf2013
# > BiliBili_哔哩哔哩_点击追番Card@ddgksf2013
^https?:\/\/api\.bilibili\.com\/pgc\/season\/player\/ogv\/cards url reject-dict


# ======= BiliJson 直播间处理 ======= #
# > BiliBili_哔哩哔哩_屏蔽直播间商品广告浮窗[还有一个域名]@ddgksf2013
# > BiliBili_哔哩哔哩_直播去广告@bm7


# ======= BiliJson 开屏及隐私 ======= #
# > BiliBili_哔哩哔哩_应用开屏去广告@bm7
# > BiliBili_哔哩哔哩_应用开屏广告预加载@yjqiang


# ======= BiliJson 高码率仅粉色旧版[V7.65] ======= #
# > BiliBili_哔哩哔哩_1080P高码率+4K画质[番剧和影视除外]@ddgksf2013


# ======= BiliJson Tab页处理 ======= #
# > BiliBili_哔哩哔哩_屏蔽直播页顶部轮播图@ddgksf2013
# > BiliBili_哔哩哔哩_漫画去广告@ddgksf2013
^https?:\/\/manga\.bilibili\.com\/twirp\/comic\.v\d\.Comic\/(Flash|ListFlash|GetActivityTab) url reject-dict
# > BiliBili_哔哩哔哩_推荐去广告@ddgksf2013
# > BiliBili_哔哩哔哩_追番去广告@ddgksf2013
# > BiliBili_哔哩哔哩_观影页面去广告@ddgksf2013


# ======= BiliJson 外观处理 ======= #
# > BiliBili_哔哩哔哩_标签页处理@ddgksf2013
# > BiliBili_哔哩哔哩_我的页面处理@ddgksf2013
# > BiliBili_哔哩哔哩_屏蔽首页右上活动@ddgksf2013
# > BiliBili_哔哩哔哩_热搜发现@ddgksf2013
# > BiliBili_哔哩哔哩_填词@ddgksf2013
^https?:\/\/app\.bilibili\.com\/x\/v\d\/search\/defaultwords url reject-dict
# > BiliBili_哔哩哔哩_屏蔽DefaultWord@ddgksf2013
^https?:\/\/(app\.bilibili\.com|grpc\.biliapi\.net)\/bilibili\.app\.interface\.v1\.Search\/Default url reject-200


# ======= BiliProto 处理 ======= #
# > BiliBili_哔哩哔哩_protobuf处理@kokoryh


# ======= BiliNotAdded ======= #
# > BiliBili_哔哩哔哩_繁体CC字幕转中文简体[自行启用hostname=aisubtitle.hdslb.com,i0.hdslb.com]@ddgksf2013
# > BiliBili_哔哩哔哩_去除统一设置的皮肤[注释留存]@ddgksf2013
