


hostname = sapphire.api.microsoftapp.net, assets.msn.com, api.msn.com

# > bing_首页优化@ddgksf2013
# > bing_位置请求@ddgksf2013
^https?:\/\/assets\.msn\.com\/service\/weather\/locations\/search url reject-dict
# > bing_信息流@LE
^https:\/\/assets\.msn\.com\/service\/news\/feed\/pages\/startmhp url reject-dict
# > bing_天气请求@ddgksf2013
^https?:\/\/api\.msn\.com\/weather url reject-dict
