


hostname = mb3admin.com, *.emby.wtf, *.plusmedia.site
  
# > 播放解锁
# > 添加外部播放器连接
# > 打开外部播放器
# > 资源路径伪静态
# > 下载文件重命名
# > 解决QX抓取某些公益服该请求乱码问题
\/Users\/\w{32}\/Items\/\d+\? url request-header (\r\n)Accept-Encoding:.+ request-header $Accept-Encoding: gzip, deflate, br
