#!name=京东历史比价
#!desc=首次使用请下载【慢慢买】APP，打开一次，提示【获取ck成功🎉】即可正常比价
#!author=wf021325,mw418,小白脸
#!howtouse=小火箭、Surge用户直接添加模块，QuantumultX用户添加重写时打开解析器


[Script]


[MITM]
hostname = %APPEND% in.m.jd.com, apapia-sqk-weblogic.manmanbuy.com
