########################################
#应用名称：  SpotifyVip
#脚本作者：  app2smile
#更新时间：  2025-07-06
#使用说明：  解锁部分premium,音质不能设置为超高
#使用步骤：  ✅登录后再打开脚本,重启app等待脚本生效
#脚本功能：  1.去除播放广告；2.歌手/专辑列表正常展示；3.去除随机播放
########################################


hostname = *.spotify.com

