##########################################################################################
# - 哔哩哔哩Upos服务器替换为腾讯Cos对象存储
# - 更新时间：2022-08-10
# - @ddgksf2013,@alyce233
# - 如需引用请注明出处，谢谢合作！
###########################################################################################


hostname=upos-hz-mirrorakam.akamaized.net

