


hostname=www.zxzjhd.com, m.nivod4.tv, *.freeok.*, *netflix*, *bdys*,*cupfox*,*cokemv*,*pornhub.com,*lezhutv*,*bimi*,18comic.org,*5y*,*gimy*,*tkznp*,*czzy*,*ikandy*,*libvio*






^https?:\/\/(cn|www)\.pornhub\.com\/_xa\/ads url reject-dict






# =========== 不维护的或网站已关服 =========== #
