#############################################
# 脚本作用: 高德净化
# 原链接:https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/amap.snippet
# 仓库地址: https://github.com/Moli-X
# TG反馈群：https://t.me/Skill_XX
# TG频道群：https://t.me/QuantX
# 使用声明：此脚本仅供学习与交流，请勿转载与贩卖！
#############################################

# 其他
^http:\/\/amdc\.m\.taobao\.com\/amdc\/mobileDispatch$ AMapiPhone url-and-header reject
^https:\/\/m5\.amap\.com\/ws\/asa\/ads_attribution\? url reject-dict
^https:\/\/m5\.amap\.com\/ws\/shield\/scene\/recommend\? url reject-dict

# 导航详情页,路线规划,地点详情页
^https:\/\/m5\.amap\.com\/ws\/faas\/amap-navigation\/card-service-route-plan\? url reject-dict
^https:\/\/m5\.amap\.com\/ws\/shield\/search\/new_hotword\? url reject-dict
# ^https:\/\/m5\.amap\.com\/ws\/shield\/search\/poi\/detail\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
^https:\/\/m5\.amap\.com\/ws\/shield\/search_poi\/(city_feed|tips_adv)\? url reject-dict
# ^https:\/\/m5\.amap\.com\/ws\/shield\/search_poi\/(search\/sp|tips_operation_location)\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js

# 首页,卡片,红点角标,右上角动图,搜索框热词,左下角天气,天气动效图层,消息横幅
# ^https:\/\/m5\.amap\.com\/ws\/faas\/amap-navigation\/main-page\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
^https:\/\/m5\.amap\.com\/ws\/faas\/amap-navigation\/main-page-(assets|location)\? url reject-dict
^https:\/\/m5\.amap\.com\/ws\/(mapapi\/hint_text\/offline_data|message\/notice\/list|shield\/search\/new_hotword)\? url reject-dict
# ^https:\/\/m5\.amap\.com\/ws\/mapapi\/poi\/infolite\/\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
# ^https:\/\/m5\.amap\.com\/ws\/shield\/frogserver\/aocs\/updatable\/1\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
^https:\/\/m5\.amap\.com\/ws\/valueadded\/weather\/v2\? url reject-dict
^https:\/\/mps\.amap\.com\/ws\/mps\/scene\? url reject
^https:\/\/sns\.amap\.com\/ws\/msgbox\/pull(_mp)?\? url reject-dict

# 我的页面,个人主页,卡片,足迹
;^https:\/\/m5\.amap\.com\/ws\/faas\/amap-navigation\/usr-profile-fc\/(highlightV2|home)\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
# ^https:\/\/m5\.amap\.com\/ws\/shield\/dsp\/profile\/index\/nodefaasv3\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
;^https:\/\/sns\.amap\.com\/ws\/userview\/footprint url reject-dict

# 附近页
# ^https:\/\/m5\.amap\.com\/ws\/shield\/search\/nearbyrec_smart\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js

# 开屏广告
^https:\/\/m5\.amap\.com\/ws\/valueadded\/alimama\/splash_screen\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js

# 打车页,红点角标,弹窗,卡片
^https:\/\/m5-zb\.amap\.com\/ws\/boss\/order(_web\/friendly_information|\/car\/king_toolbox_car_bubble)\? url reject-dict
# ^https:\/\/m5-zb\.amap\.com\/ws\/promotion-web\/resource\?? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js
# ^https:\/\/m5-zb\.amap\.com\/ws\/sharedtrip\/taxi\/order_detail_car_tips\? url script-response-body https://raw.githubusercontent.com/Moli-X/Resources/main/Script/Amap.js

hostname = m5.amap.com, m5-zb.amap.com, mps.amap.com, sns.amap.com
